* {
    box-sizing: border-box;
    margin:0; 
}

body {
    font-family: 'Josefin Sans', sans-serif;
    
}
main{
    display:flex;
    flex-direction:column;
    align-items:center;
    width:375px;
  
}
@media (max-width:768px){

.header{
    background-color:#7773EA;
    display: flex;
    width:375px;
    justify-content:center;
}

.hero {
    position:relative;
    background: linear-gradient(
        180deg,
        #7773EA 0%,
        #5956E9 50%,
        #2B28B9 100%
    );
    min-height: 100vh;
    width:375px; 
    padding-top:50px;
    padding-left:20px;
    
}

.hero::before {
    content:"";
    width:50%;
    height:100%;
    background-color:rgba(255,255,255,0.08);
    border-radius: 50%;
    bottom: 100%;
    left: -25%;
    transform: rotate(-10deg);

}

.hero::after {
    content:"";
    width:180%;
    height:200%;
    background-color:rgba(255,255,255,0.12);
    border-radius: 50%;
    bottom: 0;
    left: -60%;
    transform: rotate(-5deg);
}
.recuadro{
    background-color:#FFFFFF;
    width:343px;
    height:40px;
    border-radius:4px;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    margin-top:2em;
    
}
.menu-btn{
    width:24px;
    height:24px;
    position:relative;
    top:9px;
    left:10px;
    background-color:transparent;
    border:none;
}
.menu-btn img{
    height:100%;
    position:relative; 
    right:5px;
}
 
}
.cuadrologo{
    background-color: #ffffff;
    width: 5em;
    height: 3.2em;
    border-radius:5px;
    position:relative;
    z-index:2;  
    transform: translate(9px ,-5px );
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.2);
}
.logo{
    width:2cm;
    height:0,2cm;
    position:relative;
    top:0.6em;
}

.download-btn {
    background-color: #5956E9;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 6px;
    font-weight: 5px;
    font-size:13px;
    width:76px;
    height:34px;
    text-align:center;
    padding-top:12px;
    position:relative;
    top:3px;
    right:5px;
    
}


.stores{
    background-repeat: no-repeat;
    width: 200px;
    height: 60px;
    margin-top:25%;

}
.hero-card {
    background: #FFFFFF;
    height: 323px;
    width: 323px;
    padding: 20px 10px;
    margin-top:100px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}
.hero-card h1{
    
    color:#7773EA;
    width:350px;
    font-weight:1;
    font-size:30px;
    margin-bottom:10px;
    margin-top:10px;
}
.hero-card h2{
    width:280px;
    font-size:20px;
    position:relative;
    top:80px;

}
.hero-card p{
    color:#646161;
    position:relative; 
    top:20px;
    letter-spacing:1px;
    font-weight:1;
    font-stretch:10px;
    
}
.phone{
    background-image: url('imagenes/Free\ Ui\ View\ Mobile\ App\ Mockup\ 1.png');
    background-repeat:no-repeat;
    padding: 250px 323px 600px;
    margin-top:50px;
}


.Aboutapp{background-color: #FFFFFF;
          height: 900px;
          text-align:center;
          margin-top:50px;
         }

.Aboutapp h2{
    width:300px;
    padding-top: 50px;
    font-size: 90px;
    font-weight: 50;
    font-family: 'Josefin Sans', sans-serif;
}

.Aboutapp p{
    position:relative;
    left:5px;
    font-size: 20px;
    font-weight: 400;
    color:#848484;
    font-family: 'Josefin Sans', sans-serif;
}


.phone2{
    background-repeat:no-repeat;
    height: 324px;
    width: 238px;
    margin-top: 50px;
    margin-left:auto;
    margin-right:auto;
}

.Box1{
    background-color: #FFFFFF;
    width: 365px;
    height: 100px;
    margin-top: 20px;
    padding: 20px 30px 50px;
    border-radius:18px;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.2);
}

.Box1 h2{
    font-size: 22px;
    font-weight: 300;
    font-family: 'Josefin Sans', sans-serif;
    color:black;
    padding-top:0px;
    margin:0;
    display:flex;
    flex-direction: row;
    padding-left:30px;
}

.checkbox1 {
  background-color:#5956e9;
  width: 20px;
  height:20px;
  border-radius: 100px;
  position:relative;
  z-index:2;  
  transform: translate(-150px ,-65px );
  }


.Appfeatures{
    background-color:#5956E9;
    height: 2230px;
    display:flex;
    flex-direction:column;
    align-items:center;
    padding-top:50px;
    text-align:center; 
}

.Appfeatures h1{
    font-size: 20px;
    font-weight:10;
    font-family: 'Josefin Sans', sans-serif;
    color:#FFFFFF;
    padding-bottom:20px;
}
.Appfeatures p{
    font-size: 10px;
    font-weight: 20;
    width: 200px;
    font-family: 'Josefin Sans', sans-serif;
    color:#FFFFFF;
    text-align:center;
}

.icon1{
    background-repeat:no-repeat;
    height: 50px;
    width: 50px;
    filter: invert(100%);
    padding-bottom:;
}
.phone3{
    background-repeat:no-repeat;
    height: 468px;
    width: 214px;
    border-radius:40px;
    margin-top: 20px;
    margin-bottom:120px;
}

.team{
    background-color:#ffffff;
    width: 375px;
    height: 2230px;
    top: 900px;
    left: 50px;
    display:flex;
    flex-direction:column;
    align-items:center;
    text-align:center;
    padding-top: 50px;
    margin-bottom:100px;
}
.team p{
    width:300px;
    color:gray;
    letter-spacing:1px;
    margin-top:30px;
    margin-bottom:30px;
}
.person1{
    width:343px;
    height:580px;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.2);
    margin-bottom:30px;
    border-radius:15px;
    }

.person1 img{
    height:200px;
    width:200px;
    border-radius:100px;
    margin-top:25px;
    border: 5px solid #4182d3;
    
}
.person1 h2{
    margin-top:10px;
    color:gray;
}
.person1 p{
    width:300px;
    color:gray;
    position:relative;
    left:20px;
}

.socialmedia{
    list-style:none;
    color:black;
    gap:10px;
    display:flex;
    position:relative;
    right:20px;
    top:30px;
}
.socialmedia img{
    width: 30px;
    height: 30px;
    border:none;
    border-radius:unset;
    position:relative;
    bottom:10px;
}
.socialmedia li{
    padding: 0px 20px;
    border-right:1px solid black;
    display:flex;
    align-items:center;
}
.socialmedia li:last-child{
    border:none;
}


.footer{
    background-color:black;
    color:#ffff;
    height:1001px;
    padding:40px 18px 20px;
}
.footer h1{
    margin-bottom:10px;
}
.footer p{
    width:390px;
    margin-bottom:100px;
    
}

.footer h2{
    font-size:20px;
    letter-spacing:1px;
    margin-bottom:28px;
}

.footer-section p{
    color:#000000;
    line-height:1.8;
    font-size:14px;
}
.socialmedias{
    list-style:none;
    color:#fffbfb;
    gap:10px;
    display: flex; 
    position:relative;
    top:10px;
}
.socialmedias img{
    width: 30px;
    height: 30px;
    border:none;
    border-radius:unset;
    position:relative;
    filter: invert(100%);
}
.socialmedias li{
    padding: 0px 20px;
    border-right:1px solid #ffffff;
    display:flex;
    align-items:center;
}
.socialmedias li:last-child{
    border:none;
}


.Links{
    list-style:none;
}

.Links li{
    margin-bottom:14px;
}

.Links a{
    text-decoration:none;
    color:white;
    font-size:15px;
}

.Links a:hover{
    color:#6c63ff;
}

.newsletter{
    margin-top:20px;
    display:flex;
    background:white;
    border-radius:4px;
    overflow:hidden;
}

.newsletter input{
    flex:1;
    border:none;
    padding:14px;
    outline:none;
    font-size:14px;
    
}


hr{
    border:none;
    height:1px;
    background:#ffffff;
    margin:20px 40px 30px;
}

.copyright{
    text-align:center;
    font-size:12px;
    color:#d6d6d6;
}